<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Personal Info</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editKnightPersonalInfoForm" (ngSubmit)="onSubmitEditKnight()">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Personal Info</a>
        <ng-template ngbNavContent>
          <div class="form-group row mb-1">
            <label for="firstName" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">First Name</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="firstName" id="firstName">
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="middleName" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Middle Name</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="middleName" id="middleName">
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="lastName" class="col-5  col-sm-4 col-md-4 col-lg-3 col-form-label">Last Name</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="lastName" id="lastName">
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="nameSuffix" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Suffix</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="nameSuffix" id="nameSuffix">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">Date of Birth:</div>
            <div class="form-group col-3 col-sm-3 col-md-3 col-lg-3">
              <label for="dateOfBirthYear">Year</label>
              <input type="number" class="form-control" formControlName="dateOfBirthYear" id="dateOfBirthYear">
            </div>
            <div class="form-group col-6 col-sm-6 col-md-6 col-lg-4">
              <label for="dateOfBirthMonth">Month</label>
              <select class="form-select" id="dateOfBirthMonth" formControlName="dateOfBirthMonth">
                <option *ngFor="let month of months" [value]="month.numberValue">{{month.displayName}}</option>
              </select>
            </div>
            <div class="form-group col-3 col-sm-3 col-md-3 col-lg-2">
              <label for="dateOfBirthYear">Day</label>
              <input type="number" class="form-control" formControlName="dateOfBirthDay" id="dateOfBirthDay">
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="emailAddress" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Email Address</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="emailAddress" id="emailAddress">
            </div>
          </div>
          <div class="form-group row mb-1">
            <label for="cellPhoneNumber" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Cell Phone</label>
            <div class="col-7 col-sm-8 col-md-8 col-lg-9">
              <input type="text" class="form-control" formControlName="cellPhoneNumber" id="cellPhoneNumber">
            </div>
          </div>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Address</a>
        <ng-template ngbNavContent>
          <div class="panel-body" formGroupName="homeAddress">
            <div class="form-group row mb-1">
              <label for="address1" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Address 1</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <input type="text" class="form-control" formControlName="address1" id="address1">
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="address2" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Address 2</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <input type="text" class="form-control" formControlName="address2" id="address2">
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="city" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">City</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <input type="text" class="form-control" formControlName="city" id="city">
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="stateCode" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">State</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <select class="form-select" id="stateCode" formControlName="stateCode">
                  <option *ngFor="let state of states" [value]="state.stateCode">{{state.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="postalCode" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Zip Code</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <input type="text" class="form-control" formControlName="postalCode" id="postalCode">
              </div>
            </div>
            <div class="form-group row mb-1">
              <label for="countryCode" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Country</label>
              <div class="col-7 col-sm-8 col-md-8 col-lg-9">
                <select class="form-select" id="countryCode" formControlName="countryCode">
                  <option *ngFor="let country of countries" [value]="country.countryCode">{{country.displayName}}</option>
                </select>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="modal-footer">
      <div class="container">
          <div class="row" *ngIf="errorSaving">
            <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
          </div>
      </div>
      <button id="saveKnight" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button id="cancelEditKnight" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>