<!-- <ng-template #editActivityContent let-modal> -->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editActivityForm" (ngSubmit)="onSubmitEditActivity()">
      <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink class="nav-item-kofc-blue">Information</a>
          <ng-template ngbNavContent>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="activityName" class="col-form-label">Activity Name</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="activityName" id="activityName" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="activityDescription" class="col-form-label">Activity Description</label>
              </div>
              <div class="col-8 col-md-9">
                <textarea class="form-control" formControlName="activityDescription" id="activityDescription" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="activityCategory" class="col-form-label">Activity Category</label>
              </div>
              <div class="col-8 col-md-9">
                <select class="form-select" id="activityCategory" formControlName="activityCategory">
                  <option *ngFor="let activityCategoryInputOption of activityCategoryInputOptions" [value]="activityCategoryInputOption.value">{{activityCategoryInputOption.displayName}}</option>
                </select>
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
          <a ngbNavLink class="nav-item-kofc-blue">Coordinators</a>
          <ng-template ngbNavContent>
            <ng-container formArrayName="activityCoordinatorsList">
              <ng-container *ngFor="let coordinator of activityCoordinators.controls; let i = index;">
                <div class="form-group row mb-1" [formGroupName]="i">
                  <div class="col-8 col-md-10">
                    <select class="form-select" id="activityCoordinatorKnightId" formControlName="knightId">
                      <option *ngFor="let knight of allKnights" [value]="knight.knightId">{{knight.firstName}} {{knight.lastName}}</option>
                    </select>
                  </div>
                  <div class="col-4 col-md-2">
                    <button type="button" class="btn btn-danger" (click)="deleteActivityCoordinator(i)">
                      <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#trash"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div class="container">
              <div class="form-group mb-1">
                <button type="button" class="btn btn-primary btn-kofc-blue" (click)="addActivityCoordinator()">Add Coordinator</button>
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container ngbNavItem>
          <a ngbNavLink class="nav-item-kofc-blue">Event Notes</a>
          <ng-template ngbNavContent>
            <div class="form-group row mb-1">
              <div class="col-12">
                <label for="notes" class="col-form-label">Activity Notes</label>
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-12">
                <textarea class="form-control" formControlName="notes" id="notes" autocomplete="off" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-12">
                <label for="notes" class="col-form-label">Notes From Prior Events</label>
              </div>
            </div>
            <ng-container formArrayName="activityEventNotesList">
              <ng-container *ngFor="let eventNote of activityEventNotes.controls; let i = index;">
                <div class="form-group row mb-1" [formGroupName]="i">
                  <div class="col-12">
                    <input type="text" class="form-control" formControlName="startDateTime" id="startDateTime" autocomplete="off" readonly>
                  </div>
                </div>
                <div class="form-group row mb-1" [formGroupName]="i">
                  <div class="col-12">
                    <textarea class="form-control" formControlName="notes" id="notes" rows="4" readonly></textarea>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      

      <div class="modal-footer">
        <div class="container">
          <div class="row" *ngIf="errorSaving">
            <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
          </div>
        </div>
        <button id="saveActivity" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
        <button id="cancelChangeToActivity" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
       </div>
    </form>
  </div>
<!-- </ng-template> -->