<!-- <ng-template #editLeadershipRoleCategoryContent let-modal> -->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editLeadershipRoleForm" (ngSubmit)="onSubmitEditLeadershipRole()">
      <div class="form-group row mb-1">
        <div class="col-4 col-md-3">
          <label for="title" class="col-form-label">Title</label>
        </div>
        <div class="col-8 col-md-9">
          <input type="text" class="form-control" formControlName="title" id="title" autocomplete="off">
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-4 col-md-3">
          <label for="leadershipRoleCategory" class="col-form-label">Category</label>
        </div>
        <div class="col-8 col-md-9">
          <select class="form-select" id="leadershipRoleCategory" formControlName="leadershipRoleCategoryId">
            <option *ngFor="let leadershipRoleCategory of leadershipRoleCategories" [value]="leadershipRoleCategory.leadershipRoleCategoryId">{{leadershipRoleCategory.categoryName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-4 col-md-3">
          <label for="occupied" class="col-form-label">Occupied</label>
        </div>
        <div class="col-8 col-md-9">
          <input type="checkbox" class="form-check-input" formControlName="occupied" id="occupied">
        </div>
      </div>
      <div class="form-group row mb-1" *ngIf="editLeadershipRoleForm.controls['occupied'].value">
        <div class="col-4 col-md-3">
          <label for="leadershipRoleOccupier" class="col-form-label">Occupier</label>
        </div>
        <div class="col-8 col-md-9">
          <select class="form-select" id="leadershipRoleOccupier" formControlName="knightId">
            <option *ngFor="let knight of allKnights" [value]="knight.knightId">{{knight.firstName}} {{knight.lastName}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row" *ngIf="errorSaving">
            <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
       </div>
    </form>
  </div>
<!-- </ng-template> -->