<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="volunteerForActivityEventForm" (ngSubmit)="onSubmitVolunteerForActivityEvent()">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Information</a>
        <ng-template ngbNavContent>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventName" class="col-form-label">Event Name</label>
            </div>
            <div class="col-8 col-md-9">
              <input readonly type="text" class="form-control" formControlName="eventName" id="eventName" autocomplete="off">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventDescription" class="col-form-label">Event Description</label>
            </div>
            <div class="col-8 col-md-9">
              <textarea readonly class="form-control" formControlName="eventDescription" id="eventDescription" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startDate" class="col-form-label">Start Date</label>
            </div>
            <div class="col-8 col-md-9">
              <div class="input-group">
                <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" id="startDate" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" #sd="ngbDatepicker" [firstDayOfWeek]="7" (click)="sd.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" type="button">
                    <svg class="bi" width="20" height="20" fill="currentColor">
                      <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startTime" class="col-form-label">Start Time</label>
            </div>
            <div class="col-8 col-md-9">
              <!-- <ngb-timepicker [disabled]="disableTime" [spinners]=false formControlName="startTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker> -->
              {{formatEventStartTime()}}
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="endTime" class="col-form-label">End Time</label>
            </div>
            <div class="col-8 col-md-9">
              <!-- <ngb-timepicker [disabled]="disableTime" [spinners]=false formControlName="endTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker> -->
              {{formatEventEndTime()}}
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceled" class="col-form-label">Canceled</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="checkbox" readonly class="form-check-input" formControlName="canceled" id="canceled">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceledReason" class="col-form-label">Reason for Cancelation</label>
            </div>
            <div class="col-8 col-md-9">
              <input readonly type="text" class="form-control" formControlName="canceledReason" id="canceledReason">
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Location</a>
        <ng-template ngbNavContent>
          <ng-container formGroupName=locationAddress>
            <div class="form-group row mb-1">
              <div class="col-12">
                {{activityEvent?.locationAddress?.addressName}}
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-12">
                {{activityEvent?.locationAddress?.address1}} {{activityEvent?.locationAddress?.address2}}
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-12">
                {{activityEvent?.locationAddress?.city}}, {{activityEvent?.locationAddress?.stateCode}} {{activityEvent?.locationAddress?.postalCode}}
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Volunteers</a>
        <ng-template ngbNavContent>
          <ng-container formArrayName="volunteerSignUpRoles">
            <ng-container *ngFor="let volunteerSignUpRole of volunteerSignUpRolesForm.controls; let i = index" [formGroupName]="i">
                <div class="form-group row">
                  <div class="col-12 mb-1">{{formatVolunteerRole(i)}} {{formatVolunteerRoleStartTime(i)}} - {{formatVolunteerRoleEndTime(i)}}</div>
                </div>
                <div class="form-group row mb-1">
                  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <label for="volunteerRole_volunteerFor" class="col-form-label">Volunteer for Role?</label>
                  </div>
                  <div class="col-6 col-sm-6 col-md-8 col-lg-9">
                    <input type="checkbox" class="form-check-input" formControlName="volunteerForRole" id="volunteerRole_volunteerFor" (change)="changeVolunteerForRole($event, i)">
                  </div>
                </div>
                <ng-container formArrayName="eventVolunteers">
                  <ng-container *ngFor="let eventVolunteer of getEventVolunteers(volunteerSignUpRole); let j = index" [formGroupName]="j">
                    <div class="form-group row mb-1">
                      <div class="col-8 col-md-3">
                        <select readonly class="form-control" id="activityId" formControlName="knightId">
                          <option *ngFor="let knight of allKnights" [value]="knight.knightId">{{knight.firstName}} {{knight.lastName}}</option>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <hr *ngIf="i !== volunteerSignUpRolesForm.controls.length-1" class="my-12"/>
            </ng-container>
          </ng-container>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>