<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container border">
        <div class="row">
          <div class="col-12">
            <h4 class="text-decoration-underline">Personal Info</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">{{knight?.firstName}} {{knight?.lastName}}</div>
        </div>
        <div class="row">
          <div class="col-12">Date of Birth: {{formatDate(knight?.dateOfBirth)}}</div>
        </div>
        <div class="row">
          <div class="col-12">{{knight?.homeAddress?.address1}}</div>
        </div>
        <div class="row">
          <div class="col-12">{{knight?.homeAddress?.city}}, {{knight?.homeAddress?.stateCode}} {{knight?.homeAddress?.postalCode}}</div>
        </div>
        <div class="row">
          <div class="col-12">{{knight?.cellPhoneNumber}}</div>
        </div>
        <div class="row">
          <div class="col-12">{{knight?.emailAddress}}</div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" (click)="openEditAccountPersonalInfoModal()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container border">
        <div class="row">
          <div class="col-12">
            <h4 class="text-decoration-underline">Knight Info</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">Member Number: {{knight?.knightInfo?.memberNumber}}</div>
        </div>
        <div class="row">
          <div class="col-12">Member Type: {{knight?.knightInfo?.memberType}}</div>
        </div>
        <div class="row">
          <div class="col-12">Member Class: {{knight?.knightInfo?.memberClass}}</div>
        </div>
        <div class="row">
          <div class="col-12">Degree: {{knight?.knightInfo?.degree}}</div>
        </div>
        <div class="row">
          <div class="col-12">First Degree Date: {{formatDate(knight?.knightInfo?.firstDegreeDate)}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container border">
        <div class="row">
          <div class="col-12">
            <h4 class="text-decoration-underline">Interests</h4>
          </div>
        </div>
        <div *ngFor="let activityCategory of activityCategories">
          <div class="row">
            <h6>{{activityCategory}}</h6>
          </div>
          <div class="row" *ngFor="let interestedActivity of filterActivitiesInterestedInCategory(activityCategory)">
            <div class="col-12 ms-2">
              {{interestedActivity.activityName}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" (click)="openEditAccountActivityInterestsModal()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container border">
        <div class="row">
          <div class="col-12">
            <h4 class="text-decoration-underline">Security</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary" (click)="openEditAccountSecurityModal()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border">
  </div>
</div>