<div class="container">
  <form [formGroup]="editKnightActivityInterestsForm" (ngSubmit)="onSubmitEditActivityInterests()">
    <div class="form-group row" *ngFor="let activityCategory of activityCategories">
      <div class="container">
        <div class="row">
          <h4 class="col-sm-4 col-form-label">{{activityCategory.categoryName}}</h4>
        </div>
      </div>
      <div class="container">
        <ng-container *ngFor="let activity of filterActivitiesByCategoryId(activityCategory.activityCategoryId)">
          <div class="form-group row">
            <label class="col-md-4 form-label">{{activity.activityName}}</label>
            <input class="col-md-8 form-check-input" type="checkbox" id="interested" [checked]="activity.interested" (change)="toggleInterestCheckbox($event, activity)">
          </div>
        </ng-container>
      </div>
    </div>


    <div class="form-group row">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button id="saveKnight" type="submit" class="btn btn-primary">Save</button>
      <button id="cancelEditKnight" type="button" class="btn btn-secondary" (click)="cancelEditKnightInterests()">Cancel</button>
    </div>
  </form>
</div>
