<div class="container">
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem *ngFor="let activityCategoryInputOption of activityCategoryInputOptions">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{ activityCategoryInputOption.displayName }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="container">
              <div class="row" *ngFor='let activity of filterActivitiesByCategory(activityCategoryInputOption.value)'>
                <div class="col-9 col-md-6">
                  {{activity.activityName}}
                </div>
                <div class="col-3 col-md-4">
                  <div class="btn-toolbar text-center mt-1">
                    <button *ngIf="canEditActivity(activity.activityId)" type="button" class="btn btn-primary btn-kofc-blue me-1" (click)="openEditActivityModal(activity)">
                      <svg class="bi" width="20" height="20" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#pencil"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <div class="btn-toolbar text-center mt-1">
        <button type="button" *ngIf="canAddActivity() && activityCategoryInputOptions.length > 0" class="btn btn-primary btn-kofc-blue" (click)="openCreateActivityModal()">Add Activity</button>
      </div>
    </div>
  </div>
  <div id="activitySpacer"></div>
</div>