<div class="container d-grid gap-2">
  <form>
    <div class="form-group form-inline" *ngIf="knightsLoaded">
      <label for="nameSearch" class="col-form-label">Name Search:</label>
      <input class="form-control ms-2" id="nameSearch" type="text" (input)=searchPartialName($event)/>
    </div>
  </form>
  <div class="row bg-light border" *ngFor="let knight of displayedKnights | slice: (page-1) * pageSize : page * pageSize">
    <div class="col-12 col-sm-7 pt-2 pb-2">{{knight.firstName}} {{knight.lastName}}</div>
    <div class="col-2 col-sm-1 pt-2 pb-2">
      <button type="button" class="btn btn-primary btn-sm btn-kofc-blue" ngbTooltip="Edit personal info" data-bs-toggle="modal" data-bs-target="#editKnightPersonalInfoModal" (click)="openEditKnightPersonalInfoModal(knight)">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#person"/>
        </svg>
      </button>
    </div>
    <div class="col-2 col-sm-1 pt-2 pb-2">
      <button type="button" class="btn btn-primary btn-sm btn-kofc-blue" ngbTooltip="Edit knight info" data-bs-toggle="modal" data-bs-target="#editKnightMemberInfoModal" (click)="openEditKnightMemberInfoModal(knight)">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#info"/>
        </svg>
      </button>
    </div>
    <div class="col-2 col-sm-1 pt-2 pb-2">
      <button type="button" class="btn btn-primary btn-sm btn-kofc-blue" ngbTooltip="Edit activity interests" data-bs-toggle="modal" data-bs-target="#editKnightActivityInterestsModal"  (click)="openEditKnightActivityInterestsModal(knight)">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation"/>
        </svg>
      </button>
    </div>
    <div class="col-2 col-sm-1 pt-2 pb-2">
      <button type="button" class="btn btn-primary btn-sm btn-kofc-blue" ngbTooltip="Edit member dues" data-bs-toggle="modal" data-bs-target="#editKnightMemberDuesModal" (click)="openEditKnightMemberDuesModal(knight)">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#currency-dollar"/>
        </svg>
      </button>
    </div>
    <div class="col-2 col-sm-1 pt-2 pb-2">
      <button type="button" class="btn btn-primary btn-sm btn-kofc-blue" ngbTooltip="Edit password" data-bs-toggle="modal" data-bs-target="#editKnightPasswordModal" (click)="openEditKnightPassword(knight)">
        <svg class="bi" width="24" height="24" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#lock"/>
        </svg>
      </button>
    </div>
  </div>
  <ngb-pagination [collectionSize]="displayedKnights.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
  </ngb-pagination>
  <div class="form-group row mb-1">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#createKnightModal" (click)="openCreateKnightModal()">Add Knight</button>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#uploadKnightsModal" (click)="openUploadKnightsModal()">Bulk Upload</button>
    </div>
  </div>
  <upload-knights-modal
    class="modal fade"
    id="uploadKnightsModal"
    [showModal]="showUploadKnightsModal"
    (uploadKnightsChanges)="addKnights($event)"></upload-knights-modal>
  <create-knight-modal
    class="modal fade"
    id="createKnightModal"
    [activityCategoryFormOptions]="activityCategoryFormOptions"
    [countryFormOptions]="countryFormOptions"
    [knightMemberClassFormOptions]="knightMemberClassFormOptions"
    [knightMemberTypeFormOptions]="knightMemberTypeFormOptions"
    [knightDegreeFormOptions]="knightDegreeFormOptions"
    [knightActivityInterestsForNewKnight]="knightActivityInterestsForNewKnight"
    [memberDuesPaymentStatusFormOptions]="memberDuesPaymentStatusFormOptions"
    (createKnightChanges)="addKnightToAllKnights($event)"></create-knight-modal>
  <edit-knight-personal-info-modal
    class="modal fade"
    id="editKnightPersonalInfoModal"
    [modalHeaderText]="editKnightPersonalInfoModalHeaderText"
    [knight]="knightToEdit"
    [countryFormOptions]="countryFormOptions"
    (editKnightPersonalInfoChanges)="updateKnightPersonalInfoInList($event)"></edit-knight-personal-info-modal>
  <edit-knight-activity-interests-modal
    class="modal fade"
    id="editKnightActivityInterestsModal"
    [modalHeaderText]="editKnightActivityInterestsModalHeaderText"
    [activityInterests]="activityInterestsToEdit"
    [knightId]="knightId"
    [activityCategoryFormOptions]="activityCategoryFormOptions"
    (editKnightActivityInterestsChanges)="updateKnightActivityInterestsInList($event)"></edit-knight-activity-interests-modal>
  <edit-knight-member-dues-modal
    class="modal fade"
    id="editKnightMemberDuesModal"
    [memberDuesPaymentStatusFormOptions]="memberDuesPaymentStatusFormOptions"
    [modalHeaderText]="editKnightMemberDuesModalHeaderText"
    [knightId]="knightId"
    (editKnightMemberDuesChanges)="updateKnightMemberDuesInList($event)"></edit-knight-member-dues-modal>
  <edit-knight-password-modal
    class="modal fade"
    id="editKnightPasswordModal"
    [modalHeaderText]="editKnightPasswordModalText"
    [knightsFullName]="knightFullName"
    [knightId]="knightId"
    (editKnightPasswordChanges)="updateKnightUserInList($event)"></edit-knight-password-modal>
  <edit-knight-member-info-modal 
    class="modal fade" 
    id="editKnightMemberInfoModal"
    [knightId]="knightId"
    [knightInfo]="knightInfo"
    [modalHeaderText]="editKnightMemberInfoModalHeaderText"
    [knightDegreeFormOptions]="knightDegreeFormOptions"
    [knightMemberTypeFormOptions]="knightMemberTypeFormOptions"
    [knightMemberClassFormOptions]="knightMemberClassFormOptions"
    (editKnightMemberInfoChanges)="updateKnightMemberInfoInList($event)"></edit-knight-member-info-modal>
  <div id="knightsSpacer"></div>
</div>
