<div class="container">
  <form>
    <div class="form-group form-inline" *ngIf="knightsLoaded">
      <label for="nameSearch" class="col-form-label">Name Search:</label>
      <input class="form-control ms-2" id="nameSearch" type="text" (input)=searchPartialName($event)/>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let knight of displayedKnights | slice: (page-1) * pageSize : page * pageSize">
        <td>{{knight.firstName}} {{knight.lastName}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-kofc-blue" (click)="openEditKnightModal(knight)">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#pencil"/>
            </svg>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-kofc-blue" (click)="openEditKnightPassword(knight)">
            <svg class="bi" width="24" height="24" fill="currentColor">
              <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#lock"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="displayedKnights.length" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
  </ngb-pagination>
  <div class="form-group row mb-1">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-kofc-blue" (click)="openCreateKnightModal()">Add Knight</button>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-kofc-blue" (click)="openUploadKnightsModal()">Bulk Upload</button>
    </div>
  </div>
  <div id="knightsSpacer"></div>
</div>
