<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
      <button #closeModal type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editKnightActivityInterestsForm" (ngSubmit)="onSubmitEditKnightActivityInterests()">
        @for (activityCategoryFormOption of activityCategoryFormOptions; track activityCategoryFormOption; let i = $index) {
          <div>
            <div class="form-group row mb-1">
              <div class="col-12">
                <h5 class="text-decoration-underline fw-bold">{{activityCategoryFormOption.displayName}}</h5>
              </div>
            </div>
            <div formArrayName="activityInterests">
              @for (activityInterestGroup of editKnightActivityInterestsForm.controls.activityInterests.controls | filterActivityInterestsByCategoryPipe:activityCategoryFormOption.value; track activityInterestGroup; let j = $index) {
                <div [formGroup]="activityInterestGroup">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" formControlName="interested" id="interested-{{i}}-{{j}}">
                    <label class="form-check-label" for="allowChangeActivitySubscription">{{activityInterestGroup.controls.activityName.value}}</label>
                  </div>
                </div>
              }
            </div>
          </div>
        }
        <div class="modal-footer">
          <div class="container">
            @if (errorSaving) {
              <div class="row">
                @for (errorMessage of errorMessages; track errorMessage) {
                  <div class="col-12 alert alert-danger" role="alert">{{errorMessage}}</div>
                }
              </div>
            }
          </div>
          <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>