<div class="container">
  <div>Our Council</div>
  <div>Fr. Tom Dolezal golf tourney proceeds benefit HT St. Vincent De Paul Society.</div>
  <div>SVDP supports the poor and needy within our parish boundaries to meet the needs of the homeless
    and those in need by providing temporary housing, food, clothing, or assist in finding appropriate
    social services agencies.
  </div>
  <div>How far out is golf tourney scheduled?  Is there anything else scheduled far out like that?</div>
  <div>Ultrasound initiative & baby bottle drive</div>
  <div>Monthly canned food drives.</div>
  <div>Anything for seminarians?</div>
  <div>stmichaelcp.org/knights-of-columbus</div>
</div>