<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img id="imgFatherMichaelMcGivney" src="assets/images/fatherMichaelMcGivney.jpg" class="mx-auto d-block" alt="Random first slide">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>The Knights of Columbus was founded by Father Michael McGivney, an assistant pastor of St. Mary's Church in New Haven, Connecticut, in 1882 during an era with 
        large anti-Catholic prejudices.  The organization served to deal with these prejudices, prevent Catholic men from entering secret societies antithetical to 
        Church teaching, uniting men, and helping families of deceased members.</p>
      <p>Christopher Columbus - a Catholic and discoverer of America - was chosen as the namesake as a sign of loyalty to the Catholic faith.  Countless men were drawn to
        the belief of virtuous service to one's family and Church.  The Knights of Columbus is marked by four principles.
      </p>
      <ol>
        <li>Charity</li>
        <li>Unity</li>
        <li>Fraternity</li>
        <li>Patriotism</li>
      </ol>
      <p>Today, there are more than 16,000 councils in Catholic parishes around the world.  These councils facilitate men the ability to grow in their faith by supporting 
        the Church resulting in becoming better Catholics, husbands, and fathers while helping others.  The fruits of this are the defense of Catholic teachings on
        marriage and families and abortion, annual contributions of $200 million to charitable causes and 100 million hours of service around the world.
      </p>
      <p>Father Michael McGivney has been beatified on October 31, 2020 after the investigation of a miracle attributed to the intercession of McGivney was approved by
        the Congregation for the Causes of Saints and authorized by Pope Francis.  The miracle involved the healing of Michael Schachle in his mother's womb after being
        given a zero percent chance of surviving by doctors at Vanderbilt Medical Center in Nashville, Tennessee.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <youtube-player class="mx-auto" #player [videoId]="videoId" [height]="195" [width]="320" (ready)="onReady()"></youtube-player>
    </div>
  </div>
  <div id="aboutKnightsSpacer"></div>
</div>