<div class="container">
  <div class="row" *ngIf="showErrorMessage">
    <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
  </div>
  <div class="row" *ngIf="showSuccessMessage">
    <div class="col-12 alert alert-success">Successfully saved asset.</div>
  </div>
  <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ng-container>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="row">
            <button type="button" class="btn btn-link btn-link-kofc-blue" >Home Page Slider</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ng-container>
            <div class="row mb-1">
              <div class="col-12">It is recommended that all images are the same dimensions and have a minimum width of 2,000 pixels.</div>
            </div>
            <div class="row mb-1" *ngFor="let homePageImage of assetsService.getHomePageCarouselImages()">
              <div class="col-12">
                <img [src]="imageSource(homePageImage)" class="img-fluid img-kofc-preview">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-md-8">
                <input #imgFile type="file" class="form-control" (change)="uploadFile(imgFile.files)" placeholder="Upload file" accept="image/png, image/jpeg">
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</div>