<div>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      @for (carouselImage of homePageCarouselImagesSources; track carouselImage) {
        <div class="carousel-item active" data-bs-interval="1000">
          <img [src]="carouselImage" class="d-block w-100" alt="Home page carousel image">
        </div>
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" >
        <h3>Our Programs Angular 18</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <img src="assets/images/faith.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/family.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/community.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/life.png" class="img-fluid" alt="Random first slide">
      </div>
    </div>
  </div>
  <div class="container" id="homePageSpacer"></div>
</div>