<div>
  <ngb-carousel
    [showNavigationArrows]="true" 
    [showNavigationIndicators]="true"
    [interval]="1000"
    [pauseOnHover]="false"
    [keyboard]="true"
    [wrap]="true"
    [activeId]="'slideOne'" >
    <ng-template ngbSlide *ngFor="let carouselImage of homePageCarouselImagesSources">
      <div class="picsum-img-wrapper">
        <img [src]="carouselImage" class="img-fluid" alt="Random first slide">
    </div>
    </ng-template>
  </ngb-carousel>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" >
        <h3>Our Programs Angular 18</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <img src="assets/images/faith.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/family.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/community.png" class="img-fluid" alt="Random first slide">
      </div>
      <div class="col-6 col-md-3">
        <img src="assets/images/life.png" class="img-fluid" alt="Random first slide">
      </div>
    </div>
  </div>
  <div class="container" id="homePageSpacer"></div>
</div>