<div class="container">
  @if (canActivateKnights()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/knights" routerLinkActiver="active">Knights Roster</a>
    </div>
  }
  @if (canActivateMemberDuesAmounts()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/memberDuesAmounts" routerLinkActiver="active">Member Dues Amounts</a>
    </div>
  }
  @if (canActivateLeadershipRoles()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/leadershipRoles" routerLinkActiver="active">Leadership Roles</a>
    </div>
  }
  @if (canActivateActivities()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/activities" routerLinkActiver="active">Activities</a>
    </div>
  }
  @if (canActivateActiviyEvents()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/activityEvents" routerLinkActiver="active">Events</a>
    </div>
  }
  @if (canActivateEventVolunteering()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/eventVolunteering" routerLinkActiver="active">Volunteer</a>
    </div>
  }
  @if (canActivateConfigs()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/configSettings" routerLinkActiver="active">Configuration</a>
    </div>
  }
  @if (canActivateAssets()) {
    <div class="row">
      <a class="nav-link nav-link-kofc-blue" routerLink="/admin/assets" routerLinkActiver="active">Assets</a>
    </div>
  }
  <div id="adminSpacer"></div>
</div>


