<div class="container">
  <div class="row">
    <a class="nav-link" routerLink="/admin/knights" routerLinkActiver="active">Knights Roster</a>
  </div>
  <div class="row">
    <a class="nav-link" routerLink="/admin/leadershipRoles" routerLinkActiver="active">Leadership Roles</a>
  </div>
  <div class="row">
    <a class="nav-link" routerLink="/admin/activities" routerLinkActiver="active">Activities</a>
  </div>
  <div class="row">
    <a class="nav-link" routerLink="/admin/activityEvents" routerLinkActiver="active">Events</a>
  </div>
  <div class="row">
    <a class="nav-link" routerLink="/admin/configSettings" routerLinkActiver="active">Configuration</a>
  </div>
</div>


