<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="fromDate" id="fromDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="toDate" id="toDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-4 col-sm-2 mb-2">
      <button type="button"  class="btn btn-primary btn-kofc-blue" (click)="getAllActivityEvents()">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activityEvent of activityEvents">
            <td *ngIf="activityEvent.canceled">{{activityEvent.eventName}} (CANCELED)</td>
            <td *ngIf="!activityEvent.canceled">{{activityEvent.eventName}}</td>
            <td>{{ activityEvent.startDateTime | toDisplayDate }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#sendEmailModal" (click)="openSendEmailModal(activityEvent)">
                <svg class="bi" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#envelope"/>
                </svg>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#editActivityEventModal" (click)="openEditActivityEventModal(activityEvent)" *ngIf="canEditEvent(activityEvent.activityId)">
                <svg class="bi" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#pencil"/>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="canAddEvent()">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#editActivityEventModal" (click)="openCreateActivityEventModal()">Add</button>
    </div>
  </div>
  <!-- SEND EMAIL MODAL -->
  <email-about-event-modal 
    class="modal fade" 
    id="sendEmailModal" 
    tabindex="-1" 
    aria-labelledby="sendEmailModalLabel" 
    aria-hidden="true"
    [activityEvent]="activityEventToEmailAbout"></email-about-event-modal>
  <edit-activity-event-modal
    #editActivityEventModal
    class="modal fade" 
    id="editActivityEventModal" 
    tabindex="-1" 
    aria-labelledby="sendEmailModalLabel" 
    aria-hidden="true"
    [editModalAction]="editModalAction"
    [activityEventToEdit]="activityEventToEdit"
    [modalHeaderText]="editModalHeaderText"
    [countryFormOptions]="countryFormOptions"
    [councilTimeZone]="councilTimeZone"
    [activityCategoryFormOptions]="activityCategoryFormOptions"
    [selectableActivities]="selectableActivities"
    [allKnights]="allKnights"
    (createActivityEventChanges)="appendActivityEventToList($event)"
    (updateActivityEventChanges)="updateActivityEventInList($event)"></edit-activity-event-modal>
  <div id="activityEventSpacer"></div>
</div>
