<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="volunteerForActivityEventForm" (ngSubmit)="onSubmitVolunteerForActivityEvent()">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Event Information</a>
        <ng-template ngbNavContent>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventName" class="col-form-label">Event Name</label>
            </div>
            <div class="col-8 col-md-9">
              <input readonly type="text" class="form-control" formControlName="eventName" id="eventName" autocomplete="off">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventDescription" class="col-form-label">Event Description</label>
            </div>
            <div class="col-8 col-md-9">
              <textarea readonly class="form-control" formControlName="eventDescription" id="eventDescription" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startDate" class="col-form-label">Start Date</label>
            </div>
            <div class="col-8 col-md-9">
              <div class="input-group">
                <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" id="startDate" ngbDatepicker #sd="ngbDatepicker" [firstDayOfWeek]="7" (click)="sd.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" type="button">
                    <svg class="bi" width="20" height="20" fill="currentColor">
                      <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startTime" class="col-form-label">Start Time</label>
            </div>
            <div class="col-8 col-md-9">
              <ngb-timepicker [spinners]=false formControlName="startTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="endTime" class="col-form-label">End Time</label>
            </div>
            <div class="col-8 col-md-9">
              <ngb-timepicker [spinners]=false formControlName="endTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceled" class="col-form-label">Canceled</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="checkbox" readonly class="form-check-input" formControlName="canceled" id="canceled">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceledReason" class="col-form-label">Reason for Cancelation</label>
            </div>
            <div class="col-8 col-md-9">
              <input readonly type="text" class="form-control" formControlName="canceledReason" id="canceledReason">
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Location</a>
        <ng-template ngbNavContent>
          <ng-container formGroupName=locationAddress>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_addressName" class="col-form-label">Location Name</label>
              </div>
              <div class="col-8 col-md-9">
                <input readonly type="text" class="form-control" formControlName="addressName" id="locationAddress_addressName" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_address1" class="col-form-label">Address 1</label>
              </div>
              <div class="col-8 col-md-9">
                <input readonly type="text" class="form-control" formControlName="address1" id="locationAddress_address1" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_address2" class="col-form-label">Address 2</label>
              </div>
              <div class="col-8 col-md-9">
                <input readonly type="text" class="form-control" formControlName="address2" id="locationAddress_address2" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_city" class="col-form-label">City</label>
              </div>
              <div class="col-8 col-md-9">
                <input readonly type="text" class="form-control" formControlName="city" id="locationAddress_city" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_stateCode" class="col-form-label">State</label>
              </div>
              <div class="col-8 col-md-9">
                <select readonly class="form-control" id="locationAddress_stateCode" formControlName="stateCode">
                  <option *ngFor="let state of states" [value]="state.stateCode">{{state.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_postalCode" class="col-form-label">Zip Code</label>
              </div>
              <div class="col-8 col-md-9">
                <input readonly type="text" class="form-control" formControlName="postalCode" id="locationAddress_postalCode" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_countryCode" class="col-form-label">Country</label>
              </div>
              <div class="col-8 col-md-9">
                <select readonly class="form-control" id="locationAddress_countryCode" formControlName="countryCode">
                  <option *ngFor="let country of countries" [value]="country.countryCode">{{country.displayName}}</option>
                </select>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Volunteer Roles</a>
        <ng-template ngbNavContent>
          <ng-container formArrayName="volunteerSignUpRoles">
            <ng-container *ngFor="let volunteerSignUpRole of volunteerSignUpRolesForm.controls; let i = index" [formGroupName]="i">
                <div class="form-group row mb-1">
                  <div class="col-5 col-sm-3">
                    <input readonly type="text" class="form-control" formControlName="roleTitle" id="roleTitle" placeholder="Title" autocomplete="off">
                  </div>
                  <div class="col-3 col-sm-2">
                    <input readonly type="number" class="form-control" formControlName="numberOfVolunteersNeeded" id="numberOfVolunteersNeeded" placeholder="###" autocomplete="off">
                  </div>
                  <div class="col-6 col-md-3">
                    <ngb-timepicker [spinners]=false formControlName="startTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker>
                  </div>
                  <div class="col-6 col-md-3">
                    <ngb-timepicker [spinners]=false formControlName="endTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true></ngb-timepicker>
                  </div>
                </div>
                <div class="form-group row mb-1">
                  <div class="col-4 col-md-3">
                    <label for="volunteerRole_volunteerFor" class="col-form-label">Volunteer for Role?</label>
                  </div>
                  <div class="col-8 col-md-9">
                    <input type="checkbox" class="form-check-input" formControlName="volunteerForRole" id="volunteerRole_volunteerFor" (change)="changeVolunteerForRole($event, i)">
                  </div>
                </div>
                <ng-container formArrayName="eventVolunteers">
                  <ng-container *ngFor="let eventVolunteer of getEventVolunteers(volunteerSignUpRole); let j = index" [formGroupName]="j">
                    <div class="form-group row mb-1">
                      <div class="col-8 col-md-3">
                        <select readonly class="form-control" id="activityId" formControlName="knightId">
                          <option *ngFor="let knight of allKnights" [value]="knight.knightId">{{knight.firstName}} {{knight.lastName}}</option>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <hr *ngIf="i !== volunteerSignUpRolesForm.controls.length-1" class="my-12"/>
            </ng-container>
          </ng-container>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>