<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editActivityEventForm" (ngSubmit)="onSubmitEditActivityEvent()">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Information</a>
        <ng-template ngbNavContent>
          <div class="form-group row mb-1">
            <div class="col-12">All times are in {{councilTimeZone.displayName}} time zone.</div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="activityId" class="col-form-label">Activity</label>
            </div>
            <div class="col-8 col-md-9">
              <select class="form-select" id="activityId" formControlName="activityId" (change)='onChangeActivity($event)'>
                <option *ngFor="let activity of selectableActivities" [value]="activity.activityId">{{activity.activityName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="activityCategory" class="col-form-label">Activity Category</label>
            </div>
            <div class="col-8 col-md-9">
              <select class="form-select" id="activityCategory" formControlName="activityCategory">
                <option *ngFor="let activityCategory of activityCategories" [value]="activityCategory">{{activityCategory}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventName" class="col-form-label">Event Name</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="text" class="form-control" formControlName="eventName" id="eventName" autocomplete="off">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="eventDescription" class="col-form-label">Event Description</label>
            </div>
            <div class="col-8 col-md-9">
              <textarea class="form-control" formControlName="eventDescription" id="eventDescription" rows="4"></textarea>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startDate" class="col-form-label">Start Date</label>
            </div>
            <div class="col-8 col-md-9">
              <div class="input-group">
                <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" id="startDate" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" #sd="ngbDatepicker" [firstDayOfWeek]="7" (click)="sd.toggle()" (ngModelChange)='onChangeEventStartDate($event)'>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()" type="button">
                    <svg class="bi" width="20" height="20" fill="currentColor">
                      <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="startTime" class="col-form-label">Start Time</label>
            </div>
            <div class="col-8 col-md-9">
              <div class="input-group">
                <ngb-timepicker formControlName="startTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true (ngModelChange)='onChangeEventStartTime($event)'></ngb-timepicker>
              </div>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="endTime" class="col-form-label">End Time</label>
            </div>
            <div class="col-8 col-md-9">
              <div class="input-group">
                <ngb-timepicker formControlName="endTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true (ngModelChange)='onChangeEventEndTime($event)'></ngb-timepicker>
              </div>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="showInCalendar" class="col-form-label">Show in Calendar</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="checkbox" class="form-check-input" formControlName="showInCalendar" id="showInCalendar">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceled" class="col-form-label">Canceled</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="checkbox" class="form-check-input" formControlName="canceled" id="canceled">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceledReason" class="col-form-label">Reason for Cancelation</label>
            </div>
            <div class="col-8 col-md-9">
              <input type="text" class="form-control" formControlName="canceledReason" id="canceledReason">
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-4 col-md-3">
              <label for="canceledReason" class="col-form-label">Notes</label>
            </div>
            <div class="col-8 col-md-9">
              <textarea type="text" class="form-control" formControlName="notes" id="notes" rows="6"></textarea>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Location</a>
        <ng-template ngbNavContent>
          <ng-container formGroupName=locationAddress>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_addressName" class="col-form-label">Location Name</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="addressName" id="locationAddress_addressName" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_address1" class="col-form-label">Address 1</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="address1" id="locationAddress_address1" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_address2" class="col-form-label">Address 2</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="address2" id="locationAddress_address2" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_city" class="col-form-label">City</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="city" id="locationAddress_city" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_stateCode" class="col-form-label">State</label>
              </div>
              <div class="col-8 col-md-9">
                <select class="form-select" id="locationAddress_stateCode" formControlName="stateCode">
                  <option *ngFor="let state of states" [value]="state.stateCode">{{state.displayName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_postalCode" class="col-form-label">Zip Code</label>
              </div>
              <div class="col-8 col-md-9">
                <input type="text" class="form-control" formControlName="postalCode" id="locationAddress_postalCode" autocomplete="off">
              </div>
            </div>
            <div class="form-group row mb-1">
              <div class="col-4 col-md-3">
                <label for="locationAddress_countryCode" class="col-form-label">Country</label>
              </div>
              <div class="col-8 col-md-9">
                <select class="form-select" id="locationAddress_countryCode" formControlName="countryCode">
                  <option *ngFor="let country of countries" [value]="country.countryCode">{{country.displayName}}</option>
                </select>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Volunteers</a>
        <ng-template ngbNavContent>
          <ng-container formArrayName="volunteerSignUpRoles">
            <div class="form-group row mb-1">
              <div class="col-12">All times are in {{councilTimeZone.displayName}} time zone.</div>
            </div>
            <ng-container *ngFor="let volunteerSignUpRole of volunteerSignUpRolesForm.controls; let i = index" [formGroupName]="i">
                <div class="form-group row mb-1">
                  <div class="col-6 col-md-3">
                    <input type="text" class="form-control" formControlName="roleTitle" id="roleTitle" placeholder="Title" autocomplete="off">
                  </div>
                  <div class="col-3 col-md-2">
                    <input type="number" class="form-control" formControlName="numberOfVolunteersNeeded" id="numberOfVolunteersNeeded" placeholder="###" autocomplete="off">
                  </div>
                  <div class="col-3 col-md-1">
                    <button type="button" class="btn btn-danger" (click)="deleteVolunteerSignUpRole(i)">
                      <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#trash"/>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="form-group row mb-1">
                  <div class="col-6 col-md-3">
                    <ngb-timepicker formControlName="startTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true (ngModelChange)='onChangeVolunteerRoleStartTime($event, i)'></ngb-timepicker>
                  </div>
                  <div class="col-6 col-md-3">
                    <ngb-timepicker formControlName="endTime" [meridian]=true [minuteStep]=30 [readonlyInputs]=true (ngModelChange)='onChangeVolunteerRoleEndTime($event, i)'></ngb-timepicker>
                  </div>
                </div>
                <ng-container formArrayName="eventVolunteers">
                  <ng-container *ngFor="let eventVolunteer of getEventVolunteers(volunteerSignUpRole); let j = index" [formGroupName]="j">
                    <div class="form-group row mb-1">
                      <div class="col-8 col-md-4">
                        <select class="form-select" id="activityId" formControlName="knightId">
                          <option *ngFor="let knight of allKnights" [value]="knight.knightId">{{knight.firstName}} {{knight.lastName}}</option>
                        </select>
                      </div>
                      <div class="col-4 col-md-2">
                        <button type="button" class="btn btn-danger" (click)="deleteEventVolunteer(i, j)">
                          <svg class="bi" width="22" height="22" fill="currentColor">
                            <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#trash"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <div class="form-group row mb-1">
                    <div class="col-12 col-md-12">
                      <button type="button" class="btn btn-primary btn-kofc-blue" (click)="addEventVolunteer(i)">Add Volunteer</button>
                    </div>
                  </div>
                </ng-container>
                <hr *ngIf="i !== volunteerSignUpRolesForm.controls.length-1" class="my-12"/>
            </ng-container>
          </ng-container>
          <div class="container">
            <div class="form-group row mb-1">
              <button type="button" class="btn btn-primary btn-kofc-blue" (click)="addVolunteerSignUpRole()">Add Role</button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>