<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="sendEmailForm" (ngSubmit)="onSubmitSendEmail()">
    <div class="form-group row mb-1">
      <div class="col-4 col-md-4">
        <label for="subject" class="col-form-label">Email Subject</label>
      </div>
      <div class="col-8 col-md-8">
        <input type="text" class="form-control" formControlName="subject" id="subject" autocomplete="off">
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-4 col-md-4">
        <label for="body" class="col-form-label">Email Body</label>
      </div>
      <div class="col-8 col-md-8">
        <textarea type="text" class="form-control" formControlName="body" id="body" autocomplete="off" rows="18"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSending">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button id="saveActivityCategory" type="submit" class="btn btn-primary btn-kofc-blue">Send</button>
      <button id="cancelActivityCategoryChanges" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>