<div class="container">
  <div class="row" *ngIf="showSaveMessage && success">
    <div class="col-12 alert alert-success" role="alert">
      Successfully saved settings.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="showSaveMessage = false;"></button>
    </div>
  </div>
  <div class="row" *ngIf="showSaveMessage && !success">
    <div class="col-12 alert alert-danger" role="alert" *ngFor="let errorMessage of errorMessages">
      {{errorMessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="showSaveMessage = false;"></button>
    </div>
  </div>
  <form [formGroup]="editConfigsForm" (ngSubmit)="onSubmitEditConfigSettings()">
    <div formArrayName="configGroups">
      <div class="accordion" id="configsAccordion">
        <div class="accordion-item" *ngFor="let configGroupFormGroup of configGroupsForm.controls; let i = index;" [formGroupName]="i">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse-{{i}}" aria-expanded="true" attr.aria-controls="collapse-{{i}}">
              {{ getConfigGroupName(i) }}
            </button>
          </h2>
          <div id="collapse-{{i}}" class="accordion-collapse collapse" data-bs-parent="#configsAccordion">
            <div class="accordion-body" formArrayName="configSettings">
              <div class="form-group row mb-1" *ngFor="let configSetting of getConfigSettings(configGroupFormGroup); let j = index" [formGroupName]="j">
                <div class="col-12 col-sm-4">
                  <label for="configSetting_value" class="col-form-label">{{getConfigName(i, j)}}</label>
                </div>
                <div class="col-10 col-sm-7">
                  <input *ngIf="isCheckBox(i, j)" type="checkbox" class="form-check-input" formControlName="booleanValue" id="configSetting_booleanValue">
                  <input *ngIf="isStringInput(i, j)" type="text" autocomplete="off" class="form-control" formControlName="stringValue" id="configSetting_stringValue">
                  <select *ngIf="isStringDropDown(i, j)" class="form-select" id="configSetting_stringDropDown" formControlName="stringValue">
                    <option *ngFor="let selectOption of getStringDropDownList(i, j)" [value]="selectOption.value">{{selectOption.displayName}}</option>
                  </select>
                  <select *ngIf="isGuidDropDown(i, j)" class="form-select" id="configSetting_guidDropDown" formControlName="guidValue">
                    <option *ngFor="let selectOption of getGuidDropDownList(i, j)" [value]="selectOption.value">{{selectOption.displayName}}</option>
                  </select>
                </div>
                <div class="col-2 col-sm-1">
                  <button type="button" class="btn btn-primary btn-kofc-blue rounded-circle p-0" ngbTooltip="{{getConfigHelpText(i, j)}}" placement="left">
                    <svg class="bi" width="22" height="22" fill="currentColor">
                      <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#question"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-12 mt-1">
        <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      </div>
    </div>
  </form>
  <!-- EDIT CONFIGS MODAL -->
  <!-- <div class="modal fade" id="editConfigsModal" tabindex="-1" aria-labelledby="editConfigsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
          <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row" *ngIf="success">
              <div class="col-12 alert alert-success">Successfully saved settings.</div>
            </div>
            <div class="row" *ngIf="!success">
              <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="closeChangeToActivity" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
    </div>
  </div> -->
  <div id="configsSpacer"></div>
</div>