<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editKnightPasswordForm" (ngSubmit)="onSubmitEditKnightPassword()">
    <div class="form-group row mb-1">
      <div class="col-12">{{knightsFullName}}</div>
    </div>
    <div class="form-group row mb-1">
      <label for="accountActivated" class="col-5 col-md-3 col-form-label">Account Activated</label>
      <div class="col-7 col-md-9">
        <input type="checkbox" class="form-check-input" formControlName="accountActivated" id="accountActivated">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="password" class="col-5 col-md-3 col-form-label">Password</label>
      <div class="col-7 col-md-9">
        <input type="password" class="form-control" formControlName="password" id="password">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="resetPasswordAtNextLogin" class="col-5 col-md-3 col-form-label">Change password at next log in</label>
      <div class="col-7 col-md-9">
        <input type="checkbox" class="form-check-input" formControlName="resetPasswordAtNextLogin" id="resetPasswordAtNextLogin">
      </div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasRequiredLength()" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasRequiredLength()" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasDistinctCharacters()" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasDistinctCharacters()" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one upper case character required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasUpperCase() && passwordRequirements.requireUppercase" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one upper case character required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasUpperCase() && passwordRequirements.requireUppercase" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one upper case character required.</div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one lower case character required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasLowerCase() && passwordRequirements.requireLowercase" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one lower case character required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasLowerCase() && passwordRequirements.requireLowercase" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one lower case character required.</div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one digit 0-9 required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasDigit() && passwordRequirements.requireDigit" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one digit 0-9 required.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasDigit() && passwordRequirements.requireDigit" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one digit 0-9 required.</div>
    </div>

    <div *ngIf="isAccountActivated() && !isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && !hasAllowedSpecialCharacter() && passwordRequirements.requireNonAlphanumeric" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>
    <div *ngIf="isAccountActivated() && isPasswordDirty() && hasAllowedSpecialCharacter() && passwordRequirements.requireNonAlphanumeric" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>

    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button id="editKnightPasswordBtn" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button id="cancelEditKnightPasswordBtn" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>


</div>