<p>
  edit-knight-password-component works!
</p>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editKnightPasswordForm" (ngSubmit)="onSubmitEditKnightPassword()">
    <div class="form-group row mb-1">
      <label for="firstName" class="col-5 col-md-3 col-form-label">First Name</label>
      <div class="col-7 col-md-9">
        <input readonly type="text" class="form-control" formControlName="firstName" id="firstName">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="middleName" class="col-5 col-md-3 col-form-label">Middle Name</label>
      <div class="col-7 col-md-9">
        <input readonly type="text" class="form-control" formControlName="middleName" id="middleName">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="lastName" class="col-5 col-md-3 col-form-label">Last Name</label>
      <div class="col-7 col-md-9">
        <input readonly type="text" class="form-control" formControlName="lastName" id="lastName">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="nameSuffix" class="col-5 col-md-3 col-form-label">Name Suffix</label>
      <div class="col-7 col-md-9">
        <input readonly type="text" class="form-control" formControlName="nameSuffix" id="nameSuffix">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="accountActivated" class="col-5 col-md-3 col-form-label">Account Activated</label>
      <div class="col-7 col-md-9">
        <input type="checkbox" class="form-check-input" formControlName="accountActivated" id="accountActivated">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="password" class="col-5 col-md-3 col-form-label">Password</label>
      <div class="col-7 col-md-9">
        <input type="password" class="form-control" formControlName="password" id="password">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="updatePasswordAtNextLogin" class="col-5 col-md-3 col-form-label">Change password at next log in</label>
      <div class="col-7 col-md-9">
        <input type="checkbox" class="form-check-input" formControlName="updatePasswordAtNextLogin" id="updatePasswordAtNextLogin">
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button id="editKnightPasswordBtn" type="submit" class="btn btn-primary">Save</button>
      <button id="cancelEditKnightPasswordBtn" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>


</div>