<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editKnightMemberDuesForm" (ngSubmit)="onSubmitEditKnightMemberInfo()">
    <div formArrayName="memberDues">
      <div class="form-group row mb-1">
        <div class="col-5">
          <h5 class="text-decoration-underline fw-bold">Year</h5>
        </div>
        <div class="col-7">
          <h5 class="text-decoration-underline fw-bold">Paid</h5>
        </div>
      </div>
      <div *ngFor="let memberDue of memberDuesFormArray.controls; let i = index" [formGroupName]="i">
        <div class="form-group row mb-1">
          <div class="col-5">
            <input readonly type="text" class="form-control" formControlName="year" id="year" placeholder="Title" autocomplete="off">
          </div>
          <div class="col-7">
            <select class="form-select" id="paidStatus" formControlName="paidStatus">
              <option *ngFor="let memberDuesPaymentStatusFormOption of memberDuesPayStatusFormOptions" [value]="memberDuesPaymentStatusFormOption.value">{{memberDuesPaymentStatusFormOption.displayName}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    

    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
      </div>
  </form>
</div>