<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send Email For Activity Event</h4>
      <button #closeModal type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="sendEmailForm" (ngSubmit)="onSubmitSendEmail()">
        <div class="form-group row mb-1">
          <div class="col-4 col-md-4">
            <label for="subject" class="col-form-label">Email Subject</label>
          </div>
          <div class="col-8 col-md-8">
            <input type="text" class="form-control" formControlName="subject" id="subject" autocomplete="off">
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-4 col-md-4">
            <label for="body" class="col-form-label">Email Body</label>
          </div>
          <div class="col-8 col-md-8">
            <textarea type="text" class="form-control" formControlName="body" id="body" autocomplete="off" rows="18"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            @if (errorSaving) {
              <div class="row">
                @for (errorMessage of errorMessages; track errorMessage) {
                  <div class="col-12 alert alert-danger" role="alert">{{errorMessage}}</div>
                }
              </div>
            }
          </div>
          <button id="saveActivityCategory" type="submit" class="btn btn-primary btn-kofc-blue">Send</button>
          <button id="cancelActivityCategoryChanges" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>