<div class="container">
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem *ngFor="let leadershipRoleCategory of leadershipRoleCategories">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{ leadershipRoleCategory }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="container">
              <div class="row" *ngFor='let leadershipRole of filterLeadershipRoles(leadershipRoleCategory)'>
                <div class="col-9 col-md-10">
                  {{leadershipRole.title}}
                </div>
                <div class="col-3 col-md-2">
                  <div class="btn-toolbar text-center mt-1">
                    <button type="button" class="btn btn-primary btn-kofc-blue me-1" (click)="openEditLeadershipRoleModal(leadershipRole)">
                      <svg class="bi" width="20" height="20" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#pencil"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>




  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem *ngFor="let leadershipRoleCategory of leadershipRoleCategories">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>{{ leadershipRoleCategory }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="leadershipRolesSpacer"></div>
</div>