<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
      <button #cancelEditKnightMemberInfoChanges type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editKnightMemberInfoForm" (ngSubmit)="onSubmitEditKnightMemberInfo()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="memberNumber" id="memberNumber" autocomplete="off" placeholder="1111">
          <label for="memberNumber">Member Number</label>
        </div>

        <div class="form-group row mb-3">
          <label for="mailReturned" class="col-5 col-md-3 col-form-label">Mail Returned</label>
          <div class="col-7 col-md-9">
            <input type="checkbox" class="form-check-input" formControlName="mailReturned" id="mailReturned">
          </div>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="degree" formControlName="degree">
            <option *ngFor="let knightDegreeInputOption of knightDegreeFormOptions" [value]="knightDegreeInputOption.value">{{knightDegreeInputOption.displayName}}</option>
          </select>
          <label for="degree">Degree</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" formControlName="firstDegreeDate" id="firstDegreeDate" class="form-control" min="1900-01-01" max="2050-12-31" />
          <label for="firstDegreeDate">First Degree Date</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" formControlName="reentryDate" id="reentryDate" class="form-control" min="1900-01-01" max="2050-12-31" />
          <label for="reentryDate">Reentry Date</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="memberType" formControlName="memberType">
            <option *ngFor="let knightMemberTypeFormOption of knightMemberTypeFormOptions" [value]="knightMemberTypeFormOption.value">{{knightMemberTypeFormOption.displayName}}</option>
          </select>
          <label for="memberType">Member Type</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="memberClass" formControlName="memberClass">
            <option *ngFor="let knightMemberClassFormOption of knightMemberClassFormOptions" [value]="knightMemberClassFormOption.value">{{knightMemberClassFormOption.displayName}}</option>
          </select>
          <label for="memberClass">Member Class</label>
        </div>

        <div class="modal-footer">
          <div class="container">
            <div class="row" *ngIf="errorSaving">
              <div class="col-12 alert alert-danger" role="alert" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
      </form>
    </div>
  </div>
</div>