<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Account Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editAccountSecurityForm" (ngSubmit)="onSubmitUpdateSecurity()">
    <div class="form-group row mb-1">
      <label for="oldPassword" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">Old Password</label>
      <div class="col-7 col-sm-8 col-md-8 col-lg-9">
        <input type="password" autocomplete="off" class="form-control" formControlName="oldPassword" id="oldPassword">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="newPassword" class="col-5 col-sm-4 col-md-4 col-lg-3 col-form-label">New Password</label>
      <div class="col-7 col-sm-8 col-md-8 col-lg-9">
        <input type="password" autocomplete="off" class="form-control" formControlName="newPassword" id="newPassword">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="confirmPassword" class="col-5  col-sm-4 col-md-4 col-lg-3 col-form-label">Confirm Password</label>
      <div class="col-7 col-sm-8 col-md-8 col-lg-9">
        <input type="password" autocomplete="off" class="form-control" formControlName="confirmPassword" id="confirmPassword">
      </div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasRequiredLength()" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasRequiredLength()" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>Password shall be at least {{passwordRequirements.requiredLength}} characters long.</div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasDistinctCharacters()" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasDistinctCharacters()" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least {{passwordRequirements.requiredUniqueChars}} unique characters.</div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one upper case character required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasUpperCase() && passwordRequirements.requireUppercase" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one upper case character required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasUpperCase() && passwordRequirements.requireUppercase" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one upper case character required.</div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one lower case character required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasLowerCase() && passwordRequirements.requireLowercase" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one lower case character required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasLowerCase() && passwordRequirements.requireLowercase" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one lower case character required.</div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one digit 0-9 required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasDigit() && passwordRequirements.requireDigit" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one digit 0-9 required.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasDigit() && passwordRequirements.requireDigit" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one digit 0-9 required.</div>
    </div>

    <div *ngIf="!isPasswordDirty()" class="alert alert-secondary d-flex" role="alert">
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>
    <div *ngIf="isPasswordDirty() && !hasAllowedSpecialCharacter() && passwordRequirements.requireNonAlphanumeric" class="alert alert-danger d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
      </svg>
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>
    <div *ngIf="isPasswordDirty() && hasAllowedSpecialCharacter() && passwordRequirements.requireNonAlphanumeric" class="alert alert-success d-flex" role="alert">
      <svg class="bi me-2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#check-circle-fill"/>
      </svg>
      <div>At least one non-alphanumeric character {{passwordRequirements.allowedNonAlphanumericCharacters}}.</div>
    </div>

    <div class="modal-footer">
      <div class="container">
          <div class="row" *ngIf="errorSaving">
            <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
          </div>
      </div>
      <button id="saveKnight" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button id="cancelEditKnight" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>