#navigationLogo {
    width: 33%;
}

#menuNavBar {
    background-color: #112866;
    color: white;
}

.signInDropDown {
    width: 500px;
}

/* @media only screen and (max-width: 400px) {
    #navigationLogo {
        width: 200px;
    }
} */