<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="uploadImageForm" (ngSubmit)="onSubmitUploadFile()">
    <div class="form-group row mb-1">
      <div class="col-md-8">
        <input #imgFile type="file" class="form-control" (change)="selectFile(imgFile.files)" placeholder="Upload file" accept="image/png, image/jpeg">
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
        <div class="row" *ngIf="errorSaving">
          <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
        </div>
      </div>
      <button id="uploadHomePageCarouselImage" type="submit" class="btn btn-primary btn-kofc-blue" [disabled]="!formData">Save</button>
      <button id="cancelUploadHomePageCarouselImage" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>