<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="fromDate" id="fromDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="toDate" id="toDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-4 col-sm-2 mb-2">
      <button type="button"  class="btn btn-primary btn-kofc-blue" (click)="getAllActivityEvents()">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activityEvent of activityEvents">
            <td *ngIf="activityEvent.canceled">{{activityEvent.eventName}} (CANCELED)</td>
            <td *ngIf="!activityEvent.canceled">{{activityEvent.eventName}}</td>
            <td>{{ activityEvent.startDateTime | toDisplayDate }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#volunteerForEventModal" (click)="openVolunteerForActivityEventModal(activityEvent)">
                Volunteer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <volunteer-for-event-modal
    class="modal fade" id="volunteerForEventModal" 
    [allKnights]="allKnights"
    [knightId]="knightId"
    (editLeadershipRoleChanges)="updateActivityEventInList($event)"></volunteer-for-event-modal>
  <div id="activityEventSpacer"></div>
</div>
