<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="fromDate" id="fromDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-2">
      <div class="input-group">
        <input type="date" [(ngModel)]="toDate" id="toDate" class="form-control" min="1900-01-01" max="2050-12-31" />
      </div>
    </div>
    <div class="col-4 col-sm-2 mb-2">
      <button type="button"  class="btn btn-primary btn-kofc-blue" (click)="getAllActivityEvents()">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activityEvent of activityEvents">
            <td *ngIf="activityEvent.canceled">{{activityEvent.eventName}} (CANCELED)</td>
            <td *ngIf="!activityEvent.canceled">{{activityEvent.eventName}}</td>
            <td>{{formatDate(activityEvent.startDateTime)}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-kofc-blue" data-bs-toggle="modal" data-bs-target="#volunteerForEventModal" (click)="openVolunteerForActivityEventModal(activityEvent)">
                Volunteer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <volunteer-for-event-modal
    class="modal fade" id="volunteerForEventModal" 
    [activityEvent]="activityEvent"
    [allKnights]="allKnights"
    [knightId]="knightId"
    (editLeadershipRoleChanges)="updateActivityEventInList($event)"></volunteer-for-event-modal>

  <!-- EVENT VOLUNTEERING MODAL -->
  <!-- <div class="modal fade" id="volunteerForEventModal" tabindex="-1" aria-labelledby="volunteerForEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Volunteer For Activity Event</h4>
          <button #cancelEditActiveModal type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="volunteerForActivityEventForm" (ngSubmit)="onSubmitVolunteerForActivityEvent()">
            <div class="row mb-1">
              <div class="col-12">
                <h5 *ngIf="!activityEvent?.canceled">{{activityEvent?.eventName}}</h5>
                <h5 *ngIf="activityEvent?.canceled">{{activityEvent?.eventName}} (CANCELED)</h5>
              </div>
            </div>
            <div class="row mb-1" *ngIf="activityEvent?.canceled">
              <div class="col-12">Reason for cancelation: {{activityEvent?.canceledReason}}</div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                {{activityEvent?.eventDescription}}
              </div>
            </div>
            <div class="form-group mb-3">
              {{formatEventStartDate()}}, {{formatEventStartTime()}} - {{formatEventEndTime()}}
            </div>
            <div formGroupName="locationAddress">
              <div class="row mb-1">
                <h5>Location</h5>
              </div>
              <div class="form-group row mb-1">
                <div class="col-12">
                  {{activityEvent?.locationAddress?.addressName}}
                </div>
              </div>
              <div class="form-group row mb-1">
                <div class="col-12">
                  {{activityEvent?.locationAddress?.address1}} {{activityEvent?.locationAddress?.address2}}
                </div>
              </div>
              <div class="form-group row mb-1">
                <div class="col-12">
                  {{activityEvent?.locationAddress?.city}}, {{activityEvent?.locationAddress?.stateCode}} {{activityEvent?.locationAddress?.postalCode}}
                </div>
              </div>
            </div>
            <div formArrayName="volunteerSignUpRoles">
              <div class="row mb-1">
                <h5>Volunteers</h5>
              </div>
              <div *ngFor="let volunteerSignUpRole of volunteerSignUpRolesForm.controls; let i = index" [formGroupName]="i">
                <div class="form-group row">
                  <div class="col-12 mb-1">{{formatVolunteerRole(i)}} {{formatVolunteerRoleStartTime(i)}} - {{formatVolunteerRoleEndTime(i)}}</div>
                </div>
                <div class="form-group row mb-3">
                  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <label for="volunteerRole_volunteerFor" class="col-form-label">Volunteer for Role?</label>
                  </div>
                  <div class="col-6 col-sm-6 col-md-8 col-lg-9">
                    <input type="checkbox" class="form-check-input" formControlName="volunteerForRole" id="volunteerRole_volunteerFor" (change)="changeVolunteerForRole($event, i)">
                  </div>
                </div>
                <ng-container formArrayName="eventVolunteers">
                  <ng-container *ngFor="let eventVolunteer of getEventVolunteers(volunteerSignUpRole); let j = index" [formGroupName]="j">
                    <div class="form-group row mb-3">
                      <div class="col-8 col-md-3">
                        <select readonly class="form-control" id="activityId" formControlName="knightId">
                          <option *ngFor="let knight of allKnights" [value]="knight.id">{{knight.firstName}} {{knight.lastName}}</option>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <hr *ngIf="i !== volunteerSignUpRolesForm.controls.length-1" class="my-12"/>
              </div>
            </div>
            <div class="modal-footer">
              <div class="container">
                <div class="row" *ngIf="errorSaving">
                  <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div id="activityEventSpacer"></div>
</div>
