<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adding Knight</h4>
      <button #cancelCreateKnightModal type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        @if (memberDuesAmounts.length == 0) {
          <div class="row">
            <div class="col-12 alert alert-warning" role="alert">No member dues are setup yet.  Please set those up prior to adding or editing knights.</div>
          </div>
        }
      </div>
      <form [formGroup]="createKnightForm" (ngSubmit)="onSubmitCreateKnight()">
        <nav class="tabbable">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="personal-info-tab" data-bs-toggle="tab" data-bs-target="#personal-info-tab-pane" type="button" role="tab" aria-controls="personal-info-tab-pane" aria-selected="true">Personal Info</button>
            <button class="nav-link" id="knight-info-tab" data-bs-toggle="tab" data-bs-target="#knight-info-tab-pane" type="button" role="tab" aria-controls="knight-info-tab-pane" aria-selected="false">Knight Info</button>
            <button class="nav-link" id="activities-tab" data-bs-toggle="tab" data-bs-target="#activities-tab-pane" type="button" role="tab" aria-controls="activities-tab-pane" aria-selected="false">Activities</button>
            <button class="nav-link" id="member-dues-tab" data-bs-toggle="tab" data-bs-target="#member-dues-tab-pane" type="button" role="tab" aria-controls="member-dues-tab-pane" aria-selected="false">Member Dues</button>
          </div>
        </nav>
        <div class="tab-content mt-2" id="create-knight-tab-content">
          <!-- PERSONAL INFO -->
          <div class="tab-pane fade show active" id="personal-info-tab-pane" role="tabpanel" aria-labelledby="personal-info-tab" tabindex="0">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="firstName" id="firstName" autocomplete="off" placeholder="John">
              <label for="firstName">First Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="middleName" id="middleName" autocomplete="off" placeholder="John">
              <label for="middleName">Middle Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="lastName" id="lastName" autocomplete="off" placeholder="Doe">
              <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="nameSuffix" id="nameSuffix" autocomplete="off" placeholder="Jr">
              <label for="nameSuffix">Suffix</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" formControlName="dateOfBirth" id="dateOfBirth" class="form-control" min="1900-01-01" max="2050-12-31" />
              <label for="dateOfBirth">Date of Birth</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="emailAddress" id="emailAddress" autocomplete="off" placeholder="jd@jd.com">
              <label for="emailAddress">Email Address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="cellPhoneNumber" id="cellPhoneNumber" autocomplete="off" placeholder="John">
              <label for="cellPhoneNumber">Cell Phone</label>
            </div>

            <div class="form-group mb-3">
              <div class="col-12">
                <h5 class="text-decoration-underline fw-bold">Home Address</h5>
              </div>
            </div>
            <div class="panel-body" formGroupName="homeAddress">
              <div class="form-floating mb-3">
                <select class="form-select" id="countryCode" formControlName="countryCode" (change)="enableDisableAdministrativeDivisions()">
                  @for (country of countryFormOptions; track country) {
                    <option [value]="country.value">{{country.displayName}}</option>
                  }
                </select>
                <label for="countryCode">Country</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="address1" id="address1" autocomplete="off" placeholder="123 Main St">
                <label for="address1">Address 1</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="address2" id="address2" autocomplete="off" placeholder="Apt 2">
                <label for="address2">Address 2</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="city" id="city" autocomplete="off" placeholder="Kansas City">
                <label for="city">City</label>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="stateCode" formControlName="stateCode">
                  @for (state of countryFormOptions | filterAdministrativeDivisions:selectedCountry; track state) {
                    <option [value]="state.value">{{state.displayName}}</option>
                  }
                </select>
                <label for="stateCode">State</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="postalCode" id="postalCode" autocomplete="off" placeholder="11111">
                <label for="postalCode">Zip Code</label>
              </div>
            </div>
          </div>
          <!-- KNIGHT INFO -->
          <div class="tab-pane fade" id="knight-info-tab-pane" role="tabpanel" aria-labelledby="knight-info-tab" tabindex="0">
            <div formGroupName="knightInfo">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="memberNumber" id="knightInfo_memberNumber" autocomplete="off" placeholder="1111">
                <label for="knightInfo_memberNumber">Member Number</label>
              </div>
              <div class="form-group row mb-3">
                <label for="knightInfo_mailReturned" class="col-5 col-md-3 col-form-label">Mail Returned</label>
                <div class="col-7 col-md-9">
                  <input type="checkbox" class="form-check-input" formControlName="mailReturned" id="knightInfo_mailReturned">
                </div>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="knightInfo_degree" formControlName="degree">
                  @for (knightDegreeInputOption of knightDegreeFormOptions; track knightDegreeInputOption) {
                    <option [value]="knightDegreeInputOption.value">{{knightDegreeInputOption.displayName}}</option>
                  }
                </select>
                <label for="knightInfo_degree">Degree</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" formControlName="firstDegreeDate" id="firstDegreeDate" class="form-control" min="1900-01-01" max="2050-12-31" (change)="onChangeFirstDegreeDate()" />
                <label for="firstDegreeDate">First Degree Date</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" formControlName="reentryDate" id="reentryDate" class="form-control" min="1900-01-01" max="2050-12-31" />
                <label for="reentryDate">Reentry Date</label>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="knightInfo_memberType" formControlName="memberType">
                  @for (knightMemberTypeFormOption of knightMemberTypeFormOptions; track knightMemberTypeFormOption) {
                    <option [value]="knightMemberTypeFormOption.value">{{knightMemberTypeFormOption.displayName}}</option>
                  }
                </select>
                <label for="knightInfo_memberType">Member Type</label>
              </div>
              <div class="form-floating mb-3">
                <select class="form-select" id="knightInfo_memberClass" formControlName="memberClass">
                  @for (knightMemberClassFormOption of knightMemberClassFormOptions; track knightMemberClassFormOption) {
                    <option [value]="knightMemberClassFormOption.value">{{knightMemberClassFormOption.displayName}}</option>
                  }
                </select>
                <label for="knightInfo_memberClass">Member Class</label>
              </div>
            </div>
          </div>
          <!-- ACTIVITIES -->
          <div class="tab-pane fade" id="activities-tab-pane" role="tabpanel" aria-labelledby="activities-tab" tabindex="0">
            <div formGroupName="activityInterests">
              @for (activityCategoryFormOption of activityCategoryFormOptions; track activityCategoryFormOption; let i = $index) {
                <div>
                  <div class="form-group row mb-1">
                    <div class="col-12">
                      <h5 class="text-decoration-underline fw-bold">{{activityCategoryFormOption.displayName}}</h5>
                    </div>
                  </div>
                  <div formArrayName="activityInterests">
                    @for (activityInterestGroup of createKnightForm.controls.activityInterests.controls.activityInterests.controls | filterActivityInterestsByCategoryPipe:activityCategoryFormOption.value; track activityInterestGroup; let j = $index) {
                      <div [formGroup]="activityInterestGroup">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" formControlName="interested" id="interested-{{i}}-{{j}}">
                          <label class="form-check-label" for="allowChangeActivitySubscription">{{activityInterestGroup.controls.activityName.value}}</label>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
          <!-- MEMBER DUES -->
          <div class="tab-pane fade" id="member-dues-tab-pane" role="tabpanel" aria-labelledby="member-dues-tab" tabindex="0">
            <div formArrayName="memberDues">
              @for (memberDue of createKnightForm.controls.memberDues.controls; track memberDue; let i = $index) {
                <div [formGroupName]="i">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="'paidStatus_'+{{i}}" formControlName="paidStatus" (change)="onChangeMemberDuesPaidStatus(i)">
                      @for (memberDuesPaymentStatusInputOption of memberDuesPaymentStatusFormOptions; track memberDuesPaymentStatusInputOption) {
                        <option [value]="memberDuesPaymentStatusInputOption.value">{{memberDuesPaymentStatusInputOption.displayName}}</option>
                      }
                    </select>
                    <label for="stateCode">{{memberDue.controls.year.value}} (Due: ${{memberDue.controls.amountDue.value}})</label>
                  </div>
                </div>
              }
            </div>
            <div>NOTE: Member dues amounts only exist from {{oldestMemberDuesAmountsYear}} - {{newestMemberDuesAmountsYear}}</div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            @if (errorSaving) {
              <div class="row">
                @for (errorMessage of errorMessages; track errorMessage) {
                  <div class="col-12 alert alert-danger" role="alert">{{errorMessage}}</div>
                }
              </div>
            }
          </div>
          <button id="saveKnight" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
          <button id="cancelEditKnight" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>