<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editKnightForm" (ngSubmit)="onSubmitEditKnight()">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Personal Info</a>
        <ng-template ngbNavContent>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="firstName" id="firstName" autocomplete="off" placeholder="John">
            <label for="firstName">First Name</label>
          </div>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="middleName" id="middleName" autocomplete="off" placeholder="John">
            <label for="middleName">Middle Name</label>
          </div>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="lastName" id="lastName" autocomplete="off" placeholder="Doe">
            <label for="lastName">Last Name</label>
          </div>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="nameSuffix" id="nameSuffix" autocomplete="off" placeholder="Jr">
            <label for="nameSuffix">Suffix</label>
          </div>

          <div class="form-group row mb-1">
            <div class="col-5 col-md-3">
              <label for="dateOfBirth" class="col-form-label">Date of Birth</label>
            </div>
            <div class="col-7 col-md-9">
              <div class="input-group">
                <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="dateOfBirth" id="dateOfBirth" autocomplete="off" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" #dob="ngbDatepicker" [firstDayOfWeek]="7" (click)="dob.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dob.toggle()" type="button">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                      <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="emailAddress" id="emailAddress" autocomplete="off" placeholder="jd@jd.com">
            <label for="emailAddress">Email Address</label>
          </div>
          <div class="form-floating row mb-1">
            <input type="text" class="form-control" formControlName="cellPhoneNumber" id="cellPhoneNumber" autocomplete="off" placeholder="John">
            <label for="cellPhoneNumber">Cell Phone</label>
          </div>

          <div class="form-group row mb-1">
            <div class="col-12">
              <h5 class="text-decoration-underline fw-bold">Home Address</h5>
            </div>
          </div>
          <div class="panel-body" formGroupName="homeAddress">
            <div class="form-floating row mb-1">
              <select class="form-select" id="countryCode" formControlName="countryCode" (change)="enableDisableAdministrativeDivisions()">
                <option *ngFor="let country of countryFormOptions" [value]="country.value">{{country.displayName}}</option>
              </select>
              <label for="countryCode">Country</label>
            </div>
            <div class="form-floating row mb-1">
              <input type="text" class="form-control" formControlName="address1" id="address1" autocomplete="off" placeholder="123 Main St">
              <label for="address1">Address 1</label>
            </div>
            <div class="form-floating row mb-1">
              <input type="text" class="form-control" formControlName="address2" id="address2" autocomplete="off" placeholder="Apt 2">
              <label for="address2">Address 2</label>
            </div>
            <div class="form-floating row mb-1">
              <input type="text" class="form-control" formControlName="city" id="city" autocomplete="off" placeholder="Kansas City">
              <label for="city">City</label>
            </div>
            <div class="form-floating row mb-1">
              <select class="form-select" id="stateCode" formControlName="stateCode">
                <option *ngFor="let state of filterAdministrativeDivisionsByCountry()" [value]="state.value">{{state.displayName}}</option>
              </select>
              <label for="stateCode">State</label>
            </div>
            <div class="form-floating row mb-1">
              <input type="text" class="form-control" formControlName="postalCode" id="postalCode" autocomplete="off" placeholder="11111">
              <label for="postalCode">Zip Code</label>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Knight Info</a>
        <ng-template ngbNavContent>
          <div class="panel-body" formGroupName="knightInfo">
            <div class="form-floating row mb-1">
              <input type="text" class="form-control" formControlName="memberNumber" id="knightInfo_memberNumber" autocomplete="off" placeholder="1111">
              <label for="knightInfo_memberNumber">Member Number</label>
            </div>

            <div class="form-group row mb-1">
              <label for="knightInfo_mailReturned" class="col-5 col-md-3 col-form-label">Mail Returned</label>
              <div class="col-7 col-md-9">
                <input type="checkbox" class="form-check-input" formControlName="mailReturned" id="knightInfo_mailReturned">
              </div>
            </div>
            <div class="form-floating row mb-1">
              <select class="form-select" id="knightInfo_degree" formControlName="degree">
                <option *ngFor="let knightDegreeInputOption of knightDegreeFormOptions" [value]="knightDegreeInputOption.value">{{knightDegreeInputOption.displayName}}</option>
              </select>
              <label for="knightInfo_degree">Degree</label>
            </div>

            <div class="form-group row mb-1">
              <div class="col-5 col-md-3">
                <label for="firstDegreeDate" class="col-form-label">First Degree Date</label>
              </div>
              <div class="col-7 col-md-9">
                <div class="input-group">
                  <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="firstDegreeDate" id="firstDegreeDate" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" #fdd="ngbDatepicker" [firstDayOfWeek]="7" (click)="fdd.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="fdd.toggle()" type="button">
                      <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-1">
              <div class="col-5 col-md-3">
                <label for="reentryDate" class="col-form-label">Reentry Date</label>
              </div>
              <div class="col-7 col-md-9">
                <div class="input-group">
                  <input [readonly]=true type="text" class="form-control" placeholder="yyyy-mm-dd" formControlName="reentryDate" id="reentryDate" ngbDatepicker [minDate]="{year: 1900, month: 1, day: 1}" #rd="ngbDatepicker" [firstDayOfWeek]="7" (click)="rd.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="rd.toggle()" type="button">
                      <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-floating row mb-1">
              <select class="form-select" id="knightInfo_memberType" formControlName="memberType">
                <option *ngFor="let knightMemberTypeFormOption of knightMemberTypeFormOptions" [value]="knightMemberTypeFormOption.value">{{knightMemberTypeFormOption.displayName}}</option>
              </select>
              <label for="knightInfo_memberType">Member Type</label>
            </div>
            <div class="form-floating row mb-1">
              <select class="form-select" id="knightInfo_memberClass" formControlName="memberClass">
                <option *ngFor="let knightMemberClassFormOption of knightMemberClassFormOptions" [value]="knightMemberClassFormOption.value">{{knightMemberClassFormOption.displayName}}</option>
              </select>
              <label for="knightInfo_memberClass">Member Class</label>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Activities</a>
        <ng-template ngbNavContent>
          <div class="panel-body" formGroupName="activityInterests">
            <div *ngFor="let activityCategoryInputOption of activityCategoryInputOptions">
              <div class="form-group row mb-1">
                <div class="col-12">
                  <h5 class="text-decoration-underline fw-bold">{{activityCategoryInputOption.displayName}}</h5>
                </div>
              </div>
              <div formArrayName="{{getFormArrayName(activityCategoryInputOption)}}">
                <div *ngFor="let activityInterestControl of getActivityInterestsFormArray(getFormArrayName(activityCategoryInputOption)).controls; let i = index" [formGroupName]="i">
                  <div class="form-group row mb-1">
                    <label class="col-5 col-md-3 form-label">{{getActivityName(activityInterestControl)}}</label>
                  <div class="col-7 col-md-9">
                    <input type="checkbox" class="form-check-input" formControlName="interested" id="interested">
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink class="nav-item-kofc-blue">Member Dues</a>
        <ng-template ngbNavContent>
          <ng-container formArrayName="memberDues">
            <div class="form-group row mb-1">
              <div class="col-5">
                <h5 class="text-decoration-underline">Year</h5>
              </div>
              <div class="col-7">
                <h5 class="text-decoration-underline">Paid</h5>
              </div>
            </div>
            <ng-container *ngFor="let memberDue of memberDuesForm.controls; let i = index" [formGroupName]="i">
              <div class="form-group row mb-1">
                <div class="col-5">
                  <input readonly type="text" class="form-control" formControlName="year" id="year" placeholder="Title" autocomplete="off">
                </div>
                <div class="col-7">
                  <select class="form-select" id="paidStatus" formControlName="paidStatus">
                    <option *ngFor="let memberDuesPaymentStatusInputOption of memberDuesPaymentStatusFormOptions" [value]="memberDuesPaymentStatusInputOption.value">{{memberDuesPaymentStatusInputOption.displayName}}</option>
                  </select>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </ng-container>

    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <div class="modal-footer">
      <div class="container">
          <div class="row" *ngIf="errorSaving">
            <div class="col-12 alert alert-danger" *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
          </div>
      </div>
      <button id="saveKnight" type="submit" class="btn btn-primary btn-kofc-blue">Save</button>
      <button id="cancelEditKnight" type="button" class="btn btn-secondary" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>