#calendarEventsSpacer {
    height: calc(100vh - 500px);
}

.calendar-column {
    width: 14%;
}

.noEventBtn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 767px) {
    .divBtn {
        background-color: #112866 !important;
        border-radius: 15px;
        color: white;
    }

    .divCenter {
        text-align: center;
    }
}