<div class="container">
  <div class="form-group row mb-1">
    <div class="col-0 col-md-4"></div>
    <div class="col-3 col-md-1 text-center">
      <button type="button" class="btn btn-secondary" (click)="navigateToPreviousMonth()">Prev</button>
    </div>
    <div class="col-6 col-md-2 text-center align-bottom">{{currentMonthName}}, {{currentYear}}</div>
    <div class="col-3 col-md-1 text-center">
      <button type="button" class="btn btn-secondary" (click)="navigateToNextMonth()">Next</button>
    </div>
    <div class="col-0 col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr class="d-table-row d-md-none">
            <th class="calendar-column">S</th>
            <th class="calendar-column">M</th>
            <th class="calendar-column">T</th>
            <th class="calendar-column">W</th>
            <th class="calendar-column">T</th>
            <th class="calendar-column">F</th>
            <th class="calendar-column">S</th>
          </tr>
          <tr class="d-none d-md-table-row">
            <th class="calendar-column">Sunday</th>
            <th class="calendar-column">Monday</th>
            <th class="calendar-column">Tuesday</th>
            <th class="calendar-column">Wednesday</th>
            <th class="calendar-column">Thursday</th>
            <th class="calendar-column">Friday</th>
            <th class="calendar-column">Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let week of calendarMonth.weeks'>
            <td *ngFor='let dayOfWeek of week.days'>
    
    
              <div *ngIf='dayOfWeek.dayOfMonth > 0 && dayOfWeek.events.length > 0' role='button' data-bs-toggle="modal" data-bs-target="#viewUpcomingEventsModal" (click)="viewUpcomingEvents(dayOfWeek.dayOfMonth)">
                <div class="divBtn divCenter">
                  {{dayOfWeek.dayOfMonth}}
                </div>
                <div *ngIf='dayOfWeek.events.length > 0'>
                  <button type="button" class="btn btn-primary btn-kofc-blue d-none d-md-block">Events</button>
                </div>
              </div>
    
    
              <div *ngIf='dayOfWeek.dayOfMonth > 0 && dayOfWeek.events.length === 0'>
                <div class="divCenter">
                  {{dayOfWeek.dayOfMonth}}
                </div>
                <div>
                  <button type="button" disabled class="btn btn-light noEventBtn d-none d-md-block">Events</button>
                </div>
              </div>
    
    
    
              <div *ngIf='dayOfWeek.dayOfMonth === 0'>
                <div *ngIf='dayOfWeek.events.length === 0'>
                  <button type="button" disabled class="btn btn-light noEventBtn d-none d-md-block">Events</button>
                </div>
              </div>
    
    
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- VIEW UPCOMING EVENT MODAL -->
  <div class="modal fade" id="viewUpcomingEventsModal" tabindex="-1" aria-labelledby="viewUpcomingEventsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{modalHeaderText}}</h4>
            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
            </button>
        </div>
        <div class="modal-body">
          <div *ngFor='let upcomingEvent of upcomingEventsOnDate; let i=index'>
            <h5>
              {{upcomingEvent.eventName}}
            </h5>
            <h6>
              {{formatTime(upcomingEvent.startDateTime)}} - {{formatTime(upcomingEvent.endDateTime)}}
            </h6>
            <h6>
              {{upcomingEvent?.locationAddress?.addressName}}
            </h6>
            <h6>
              {{upcomingEvent?.locationAddress?.address1}} {{upcomingEvent?.locationAddress?.city}}, {{upcomingEvent?.locationAddress?.stateCode}}
            </h6>
            <div>
              {{upcomingEvent.eventDescription}}
            </div>
            <hr *ngIf="i !== upcomingEvents.length-1" class="my-12"/>
          </div>
        </div>
        <div class="modal-footer">
          <button id="closeUpcomingEventsModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="calendarEventsSpacer"></div>
</div>